@model LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Email tool Computernetwerken 2</p>
</div>

@if (TempData["Invalid Credentials"] != null)
{
    <div class="btn mt-2 mx-auto alert-success">@TempData["msg"]</div>
}

<form asp-action="Login" asp-controller="Account" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" asp-for="Email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" asp-for="Password">
    <label for="inputHost" class="sr-only">IMAP host</label>
    <input type="text" id="inputHost" class="form-control" placeholder="Host" required="" asp-for="IMAP_HOST">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
</form>